{% extends "cbtrack/base_generic.html" %}

{% block jumbotron %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-danger">
    	<div class="row">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">
            	{{candidate.first_name}} {{candidate.last_name}}
            </h1>
        </div>

        <div class="col-md-6">
        	<dl class="row">
				<dt class="col-sm-3">Email</dt>
				<dd class="col-sm-9">{{candidate.email}}</dd>

				<dt class="col-sm-3">Phone</dt>
				<dd class="col-sm-9">
					{{candidate.phone}}
				</dd>
			</dl>
        	
        </div>
    	</div>
    </div>

{% endblock jumbotron %}


{% block main %}

<div class="card">
    <h5 class="card-header bg-info text-light">
        {{candidate.first_name}} {{candidate.last_name}}
    </h5>

<div class="card-body">
    

{% if perms.cbtrack.service_detail_admin %}
<div class="d-flex">
    <hr class="my-auto flex-grow-1">
    <div class="px-4">SERVICE DETAILS</div>
    <hr class="my-auto flex-grow-1">
</div> 
{% if candidate.servicedetail_set.count != 0 %}
    {% for post in candidate.servicedetail_set.all %}
    <div class="card mb-1">  
            <h5 class="card-header text-dark bg-light">
                {{ post.post_title }}
                {% if post.service_provider == user %}
                <a href="{% url 'cbtrack:service-detail_update' post.pk %}" class="btn btn-light btn-circle shadow-sm float-right m-0">
                    <i class="fas fa-pen text-dark"></i>
                </a>
                <a href="{% url 'cbtrack:service-detail_delete' post.pk %}" class="btn btn-light btn-circle shadow-sm float-right m-0">
                    <i class="fas fa-times text-dark"></i>
                </a>
                {% endif %}
                <small class="text-muted float-right mt-1 mr-2">
                    Added {{ post.candidate.date_added|date:"M d, y" }}
                </small> 
            </h5>
        <div class="card-body">
            
        <p><span class="text-muted">About me</span><br>{{ post.about_me }}</p>
        <p class="text-muted">How I can help</p>
        <p>{{ post.how_help }}</p>
        <p class="text-muted">Preferred trades</p>
        {% for trade in post.top_trade.all %}
            <span class="badge badge-info">
                <i class="{{ trade.fa_icon }}"></i> 
                {{ trade }}
            </span>
        {% endfor %}

        </div>            
    </div>
    
    {% endfor %}
{% elif perms.cbtrack.service_detail_admin %}
<a href="{% url 'cbtrack:service-detail_create' candidate.pk %}">Add service details for {{candidate.first_name}}</a>
{% else %}
{% endif %}
{% endif %}

{% if candidate.employmentdetail_set.count != 0 %}
    
<div class="d-flex">
    <hr class="my-auto flex-grow-1">
    <div class="px-4 text-muted">EMPLOYMENT DETAILS</div>
    <hr class="my-auto flex-grow-1">
</div> 
{% for post in candidate.employmentdetail_set.all %}

<div class="card mb-1">  
        <h5 class="card-header text-dark bg-light">
            {{ post.job_title }} at {{ post.employer.profile.org_name }}
            {% if post.employer == user %}
            <a href="{% url 'cbtrack:employment-detail_update' post.pk %}" class="btn btn-light btn-circle shadow-sm float-right m-0">
                <i class="fas fa-pen text-dark"></i>
            </a>
            <a href="{% url 'cbtrack:employment-detail_delete' post.pk %}" class="btn btn-light btn-circle shadow-sm float-right m-0">
                <i class="fas fa-times text-dark"></i>
            </a>
            {% endif %}
            <small class="text-muted float-right mt-1 mr-2">
                job started {{ post.job_start_date|date:"M d, y" }}
            </small> 
        </h5>
        <div class="card-body">
            
        <p><span class="text-muted">Job description</span><br>{{ post.job_description }}</p>

        </div>            
</div>

{% endfor %}
</div>
</div>
{% elif perms.cbtrack.employment_detail_admin %}
<a href="{% url 'cbtrack:employment-detail_create' candidate.pk %}">Add employment details for {{candidate.first_name}}</a>
</div>
{% else %}
{% endif %}
</div>
</div>
{% endblock main %}
